<section class="we-are column">
	<h2>QUIÉNES SOMOS</h2>
	<include
		src="./cards.html"
		imgSrc="./assets/images/Nuria.jpg"
		imgAlt="Nuria Díaz"
		photo="photo1"
		name="Nuria Díaz"
		fileDescription="file-description1"
		description="Me considero organizada, observadora y responsable. Además, cuando
        me deshago de mi capa de invisibilidad (por mi absurda timidez),
        me gusta generar un buen clima en el entorno en el que me
        encuentro. Me licencié en Administración y Dirección de Empresas y
        realicé un postgrado en contabilidad, pero tras unas cuantas
        decepciones profesionales me di cuenta que no era lo que buscaba.
        Apasionada de las cobayas, los puzzles y de tomar cervecitas en
        terrazas con amigos."
		twitter="https://twitter.com/Nur_dc"
		linkedin="https://www.linkedin.com/in/nuria-d%C3%ADaz-candela-771a1646/"
		github="https://github.com/nuriadiazcandela"
		mail="mailto:nuriadiazcandela@gmail.com"
	></include>
	<include
		src="./cards.html"
		imgSrc="./assets/images/Lucia.jpg"
		imgAlt="Lucia Mezquida"
		photo="photo2"
		name="Lucia Mezquida"
		fileDescription="file-description2"
		description="Siempre me ha gustado aprender cosas nuevas. Tras 13 años como
    farmacéutica comunitaria, mi espíritu curioso se retorcía por
    descubrir nuevos horizontes. Y así llegué a la programación, donde
    el horizonte nunca termina, y donde al fín puedo desarrollar mi
    capacidad creativa y reinventarme."
		description2="Me escapo a la montaña siempre que puedo, soy una apasionada del
    snowboard y una animalista irremediable."
		social="social2"
		twitter="https://twitter.com/LuciCodes"
		linkedin="https://www.linkedin.com/in/luc%C3%ADa-mezquida-juan-b102481b6/"
		github="https://github.com/LuciaMezquida"
		mail="mailto:lucia.mezquida@gmail.com"
	></include>
	<include
		src="./cards.html"
		imgSrc="./assets/images/Yanira.jpg"
		imgAlt="Yanira Fernández"
		photo="photo1"
		name="Yanira Fernández"
		fileDescription="file-description1"
		description="unque empecé mis estudios en biología, la vida me llevó a acabar
    trabajando en sectores muy diferentes. Habiendo tenido siempre
    afición por la informática, descubrí recientemente mi vocación por
    la programación, lo que me decidió a dar un giro a mi vida y
    embarcarme en un sector que realmente me apasiona."
		description2="Ecologista, gamer, guitarrista y dibujante aficionada. Y por
    supuesto, amante de la biología."
		twitter="#"
		linkedin="#"
		github="https://github.com/yanirafr"
		mail="mailto:yanirafr@gmail.com"
	></include>
	<include
		src="./cards.html"
		imgSrc="./assets/images/Irina.jpg"
		imgAlt="Irina Tveritneva"
		photo="photo2"
		name="Irina Tveritneva"
		fileDescription="file-description2"
		description="Knowmad@ 100%. Me encanta resolver los problemas humanos con la
    mejor tecnología del mercado y con una actitud muy positiva.
    Moscovita de origen, madrileña de hecho y con el corazón
    asturiano. Tengo experiencia en ventas y desarrollo de distintos
    negocios en América Latina, Rusia y España. Me encanta aprender
    idiomas, hasta el día de hoy hablo 7 :) Y ahora estoy aprendiendo
    unos más: HTML, CSS, JS ...to be continued Amante de los gatos,
    baile, bici y vida deportiva en general. Hago actividades de
    voluntariado de medio ambiente y aportación social. La mañana me
    gusta empezarla con unos minutos de meditación, yoga y un buen
    desayuno."
		social="social2"
		twitter="https://twitter.com/ITveritneva"
		linkedin="https://www.linkedin.com/in/irina-tveritneva/"
		github="https://github.com/itveritneva"
		mail="mailto:itveritneva@gmail.com"
	></include>
</section>
