<article class="file">
	<div class="@@photo">
		<img class="photo-individual" src="@@imgSrc" alt="@@imgAlt" />
	</div>

	<div class="@@fileDescription">
		<h4>@@name</h4>
		<p>@@description</p>
		<p>@@description2</p>
		<nav>
			<ul class="social @@social">
				<li>
					<a href="@@twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				</li>
				<li class="link">
					<a href="@@linkedin" target="_blank"
						><i class="fab fa-linkedin-in"></i
					></a>
				</li>
				<li class="link">
					<a href="@@github" target="_blank"
						><i class="fab fa-github-alt"></i
					></a>
				</li>
				<li class="link">
					<a href="@@mail" target="_blank"><i class="fas fa-envelope"></i></a>
				</li>
			</ul>
		</nav>
	</div>
</article>
