<article class="file">
  <div class="@@photo">
    <img class="photo-individual" src="@@imgSrc" alt="@@imgAlt" />
  </div>

  <div class="@@fileDescription">
    <h4>@@name</h4>
    <p>@@description</p>
    <p>@@description2</p>
    <nav>
      <ul class="social @@social">
        <li>
          <a href="@@twitter" target="_blank" title="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="link">
          <a href="@@linkedin" target="_blank" title="Linkedin"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li class="link">
          <a href="@@github" target="_blank" title="GitHub"
            ><i class="fab fa-github-alt"></i
          ></a>
        </li>
        <li class="link">
          <a href="@@mail" target="_blank"
            ><i class="fas fa-envelope" title="Correo electrónico"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</article>
