<section class="form">
  <form
    action="https://formspree.io/dreamers.adalab@gmail.com"
    method="POST"
    target="_blank"
  >
    <label for="fullName" class="label"
      >Nombre completo <span class="asterisk">*</span></label
    >
    <input
      class="input"
      type="text"
      id="fullName"
      name="fullName"
      placeholder="Nombre..."
      required
    />
    <div class="email-telephone">
      <div class="box-mail">
        <label for="email" class="label"
          >Email <span class="asterisk">*</span></label
        >
        <input
          class="input"
          type="email"
          id="email"
          name="email"
          placeholder="nombre.apellidos@mail.com"
          required
        />
      </div>
      <div class="box-tel">
        <label for="telephone" class="label">Teléfono</label>
        <input
          class="input"
          type="tel"
          id="telephone"
          name="telephone"
          placeholder="Ej: 123456789"
        />
      </div>
    </div>
    <label for="message" class="label"
      >Mensaje <span class="asterisk">*</span></label
    >
    <textarea
      class="textarea"
      id="message"
      name="message"
      rows="8"
      cols="80"
      placeholder="¿Qué necesitas?"
    ></textarea>
    <div class="button">
      <input type="submit" value="Enviar" class="submit" />
    </div>
  </form>
</section>
