<section class="form">
  <form action="https://formspree.io/lucia.mezquida@gmail.com" method="GET">
    <label for="fullName"
      >Nombre completo <span class="asterisk">*</span></label
    >
    <input
      type="text"
      id="fullName"
      name="fullName"
      placeholder="Nombre..."
      required
    />
    <label for="email">Email <span class="asterisk">*</span></label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="nombre.apellidos@mail.com"
      required
    />
    <label for="telephone">Teléfono</label>
    <input
      type="tel"
      id="telephone"
      name="telephone"
      placeholder="Ej: 123456789"
    />
    <label for="message">Mensaje <span class="asterisk">*</span></label>
    <textarea
      id="message"
      name="message"
      rows="8"
      cols="80"
      placeholder="¿Qué necesitas?"
    ></textarea>
    <input type="submit" value="Enviar" />
  </form>
</section>
