<footer class="footer scroll-box__footer">
  <small class="footer__name">Dreamers © 2020</small>
  <nav class="footer__menu">
    <ul class="footer__menu__nav">
      <li>
        <a href="#team-link" class="footer__menu__item" title="Vuelve a Equipo"
          >EQUIPO</a
        >
      </li>
      <li>
        <a
          href="#we-are-link"
          class="footer__menu__item"
          title="Vuelve a Quiénes Somos"
          >QUIÉNES SOMOS</a
        >
      </li>
      <li>
        <a
          href="#social-link"
          class="footer__menu__item"
          title="Contacta con nosotras"
          >CONTACTO</a
        >
      </li>
    </ul>
  </nav>
  <a class="footer__logo" href="https://adalab.es/" target="_blank"
    ><img
      class="footer__logo__img"
      src="https://raw.githubusercontent.com/Adalab/materiales-front-end-k/e2600b0c54e9dc4ddab108df8160cee49f91255f/proyectos/assets/images/logo-adalab.png"
      alt="Logo Adalab"
      title="Visita Adalab"
  /></a>
</footer>