<div class="header__top">
  <div class="header__team-name">
    <h1>
      <a
        class="header__team-name__dreamers"
        href="./index.html"
        title="Página principal"
        >Dreamers</a
      >
    </h1>
  </div>
  <nav class="header__nav-top">
    <ul class="header__nav">
      <li>
        <a
          class="header__nav__item"
          href="#team-link"
          title="Conoce nuestro equipo"
          >Equipo</a
        >
      </li>
      <li>
        <a class="header__nav__item" href="#we-are-link" title="Conócenos"
          >Quienes somos</a
        >
      </li>
      <li>
        <a
          class="header__nav__item header__nav__item-last"
          href="./contact.html"
          title="Contacta con nosotras"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</div>
