<section class="str-weak column">
  <article class="str-item item1">
    <h2 class="str-name">Fortalezas</h2>
    <p class="str-text">
      Nos caracterizamos por afrontar sin miedo los nuevos retos que se nos
      avecinan, no tememos a los cambios y por ello, estamos listas para el
      trabajo en remoto.
    </p>

    <p class="str-text">
      Trabajamos con ilusión y somos capaces de adaptarnos a las necesidades de
      cada proyecto en cada momento, gracias a nuestra empatía y compromiso.
    </p>

    <p class="str-text">
      Como equipo, nuestros conocimientos previos en diferentes sectores
      profesionales, nos permiten aportar diferentes visiones y complementarnos
      las unas a las otras, esto hace que seamos capaces de trabajar en equipo.
    </p>
  </article>

  <article class="str-item item2">
    <h2 class="str-name">Debilidades</h2>
    <p class="str-text">
      Somos nuevas en este sector y no contamos con experiencia profesional como
      front-end, pero a pesar de la falta de experiencia creemos que podemos
      lograr aquello que nos propongamos, ya que nos consideramos
      perfeccionistas y vamos a trabajar muchísimo para conseguirlo.         
    </p>
  </article>
</section>
<a name="we-are-link"><&nbsp</a>
