<section class="team column">
  <h2>Equipo</h2>
  <article class="team-description">
    <p>
      Somos un equipo de mujeres internacional y diverso. Un equipo de soñadoras
      a las que nos une nuestro espíritu creativo y nuestro amor por el medio
      ambiente. No nos da miedo el cambio. <br />
      Sabemos que tenemos capacidad para florecer en este nuevo mundo en el que
      nos hemos sumergido, confiamos en nuestra capacidad para aportar, definir
      y desarrollar con autonomía.
    </p>
  </article>
  <div class="rectangle"></div>
</section>
