// fonts
$font-main: "Open Sans", sans-serif;
$font-rubik: "Rubik", sans-serif;

// colors
$white: rgb(255, 255, 255);
$background-white: #ffffffcc;
$blue: #099d8d;
$aqua: #14d9c4;
$font-grey: #54585a;
$background-grey: rgb(184, 184, 185);
$background-grey-2: #b8b8b933;
