/*Quienes somos*/

.we-are {
  width: 100%;
  text-align: center;
  h2 {
    text-transform: uppercase;
    padding: 30px 0;
    color: $color-main;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 24px;
    @media all and (min-width: 768px) {
      padding-top: 45px;
    }
  }
}

.photo-individual {
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  @media all and (min-width: 768px) {
    width: 205px;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
  }
}
.photo1,
.photo2 {
  &:hover {
    transform: rotate(360deg);
    transition: ease 2s;
  }
}
.file {
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 4;
    .photo1 {
      grid-column: 1/4;
    }
    .file-description1 {
      grid-column: 4/13;
    }
    .photo2 {
      grid-column: 8/13;
    }
    .file-description2 {
      grid-column: 1/8;
    }
  }
  @media all and (min-width: 1200px) {
    padding-bottom: 60px;
  }
  h4 {
    padding-top: 15px;
    font-family: $font-main;
    font-size: 20px;
    font-weight: normal;
    line-height: 2.25;
  }
  p {
    font-family: $font-main;
    font-size: 16px;
    line-height: 24px;
    color: $color-font-main;
  }
}

.social {
  padding: 15px 0 45px 0;
  width: 124px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  li {
    list-style-type: none;
    &:hover {
      transform: translate(0, -5px);
      transition: cubic-bezier(0.79, 0.22, 0.35, 1.7);
      padding-bottom: 5px;
    }
  }
  a {
    color: $color-main;
  }
}

.link:before {
  content: "·";
  color: $color-font-main;
  padding-right: 4px;
}

/*Quienes somos Media queries Tablet*/

@media all and (min-width: 768px) {
  .file-description1 {
    text-align: left;
    padding-left: 30px;
    .social {
      margin: 0;
    }
  }
  .photo2 {
    order: 2;
  }
  .file-description2 {
    text-align: right;
    padding-right: 30px;
  }
  .social2 {
    margin-right: 0;
  }
  .photo1,
  .photo2 {
    padding-top: 20px;
  }
}
