.label,
.input {
  display: block;
  font-size: 14px;
  color: $color-font-main;
}
.form {
  width: 290px;
  margin: auto;
  font-family: $font-main;
  @media all and (min-width: 768px) {
    width: 442px;
  }
  @media all and (min-width: 1200px) {
    width: 601px;
  }
}
.input {
  width: 100%;
  height: 45px;
  padding: 15px;
  font-size: 16px;
  border: solid 1px $color-tertiary;
  outline-color: $color-main;
  &::placeholder {
    color: $color-tertiary;
    font-size: 14px;
  }
  &:focus {
    border: 4px solid $color-secondary;
  }
}
.label {
  padding-top: 10px;
  padding-bottom: 5px;
}
.textarea {
  font-family: $font-main;
  width: 100%;
  height: 105px;
  overflow-y: scroll;
  padding: 10px 15px;
  border: solid 1px $color-tertiary;
  outline-color: $color-main;
  font-size: 16px;
  &::placeholder {
    color: $color-tertiary;
    font-size: 14px;
  }
  &:focus {
    border: 4px solid $color-secondary;
  }
}
.asterisk {
  color: $color-secondary;
}
@media all and (min-width: 1200px) {
  .email-telephone {
    display: flex;
    justify-content: space-between;
  }
  .box-mail {
    width: 395px;
  }
  .box-tel {
    width: 162px;
  }
}

.submit {
  background-color: $color-main;
  color: $white;
  border: none;
  border-radius: 4px;
  width: 290px;
  height: 45px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: $font-main;
  transition: ease 2s;
  &:hover {
    transform: scale(1.5px);
    border-radius: 0;
    background: linear-gradient(
      326deg,
      rgba(49, 54, 55, 1) 0%,
      rgba(9, 121, 101, 1) 46%,
      rgba(97, 226, 252, 1) 100%
    );
    width: 350px;
  }
  @media all and (min-width: 768px) {
    width: 206px;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
  }
}
@media all and (min-width: 768px) {
  .button {
    display: flex;
    justify-content: flex-end;
  }
}
