/* Team Name */

.header__top {
  opacity: 0.95;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 150;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  .header__team-name {
    color: $white;
    background: $color-main;
    width: 100%;
    height: 60px;
    font-family: $font-secondary;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      width: 55%;
    }
    .header__team-name__dreamers {
      color: $white;
      padding: 10px;
    }
    h1 {
      font-size: 16px;
      margin: auto;
      font-weight: 500;
      @media (min-width: 768px) {
        margin-left: 35px;
      }
      @media (min-width: 1200px) {
        margin-left: 132px;
      }
    }
  }
}

/*Nav Header*/
.header__nav-top {
  @media (min-width: 768px) {
    width: 50%;
  }
  .header__nav {
    background: $color-secondary;
    width: 100%;
    height: 45px;
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2;
    padding: 8px 0 7px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    @media (min-width: 768px) {
      background: $color-main;
      height: 60px;
      padding: 16px 0 14px 0;
      font-size: 16px;

      justify-content: flex-end;
    }
    .header__nav__item {
      color: $white;
      font-size: 15px;
      padding: 10px;
    }
  }
}
.header__nav__item-last {
  @media (min-width: 768px) {
    margin-right: 35px;
  }
  @media (min-width: 1200px) {
    margin-right: 128px;
  }
}
